.nav{
    position: fixed;
    padding: 20px;
    /* padding-top: 0%; */
    top:0;
    width: 100%;
    height: 30px;
    transition: ease-in-out;
    transition: all 0.5s;
    z-index: 1;
   
}
.nav--black{
    background-color: #111;
    
    
}
.nav-container{
    display: flex;
    justify-content: space-between;

}
.navbar--logo{
    position: fixed;
    left: 0;
    top:0;
    object-fit: contain;
    padding-left: 20px;
    width:80px;
    height: 50px;
    cursor: pointer;
    top:10px
}
.avatar--logo{
    width:40px;
    object-fit: contain;
    height: 50px;
    position: fixed;
    right: 20px;
    cursor: pointer;
}